body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: initial;
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

a {
  color: #0000ff;
  text-decoration: solid;
}

a:hover {
  text-decoration: underline;
}
